# Python
venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Model files
*.pkl

# Environment
.env

# Node / React
node_modules/
dist/
.vite/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log
.env
