body {
  background:#f6ede5;
  font-family:Arial;
}

.card {
  margin:auto;
  margin-top:50px;
  background:#fff3ea;
  padding:30px;
  width:400px;
  border-radius:20px;
}

.symptom {
  padding:12px;
  background:#e0c4aa;
  margin:8px;
  border-radius:12px;
  cursor:pointer;
}

.symptom.on { background:#a67c5b; color:white }

input {
  width:100%;
  padding:10px;
  margin-top:10px;
}
