body {
  background:#f6ede5;
  font-family:Arial;
}

.card {
  margin:auto;
  margin-top:50px;
  background:#fff3ea;
  padding:30px;
  width:400px;
  border-radius:20px;
}

.symptom {
  padding:12px;
  background:#e0c4aa;
  margin:8px;
  border-radius:12px;
  cursor:pointer;
}

.symptom.on { background:#a67c5b; color:white }

input {
  width:100%;
  padding:10px;
  margin-top:10px;
}
.chatBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #7a5c48;
  color: white;
  border-radius: 50px;
  padding: 15px 25px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  z-index: 999;
}
.chatbox {
  max-height: 300px;
  overflow-y: auto;
  margin-bottom: 10px;
}
